
<div class="fixed" fxLayout="row" fxLayoutAlign="end center">

  <!-- Switches between the main window and a child window -->
  <mat-checkbox class="example-margin" #child>Child view</mat-checkbox>

  <!-- Reload button -->
  <button mat-icon-button (click)="reload()">
    <wm-icon icon="fas:fa-redo-alt"></wm-icon>
  </button>

</div>

<!-- Child view with scroller -->
<div class="animate-view" wmAnimateView useElement cdkScrollable *ngIf="child.checked; else mainView">

  <wm-home *ngIf="home"></wm-home>

</div>

<!-- Main view -->
<ng-template #mainView>

  <wm-home *ngIf="home"></wm-home>

</ng-template>